.ChipsView {
  border-top: 1px solid var(--chip-view-border);
  border-bottom: 1px solid var(--chip-view-border);
  background: var(--chip-view-bg);

  .chips {
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;

    &__button {
      background: #fff;
      border: none;
      position: absolute;
      top: 0;
      z-index: 2;
      width: 56px;
      height: 100%;

      svg {
        width: 16px;
        height: 16px;
      }

      &--prev {
        left: 0;
      }

      &--next {
        right: 0;
      }
    }
  }
}