.ChipsView {
  border-top: 1px solid var(--chip-view-border);
  border-bottom: 1px solid var(--chip-view-border);
  background: var(--chip-view-bg);

  .chips {
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
  }
}