@import 'src/assets/styles/constants.scss';

.DrawerView {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: calc(100vh - 56px);
  background: var(--drawer-view-bg);
  margin-top: 56px;
  padding-top: 12px;
  z-index: 1;
  overflow-y: scroll;
  scrollbar-color: var(--drawer-view-bg) transparent;
  scrollbar-width: thin;

  &:hover {
    scrollbar-color: $primaryColorDark transparent;

    &::-webkit-scrollbar-thumb {
      background-color: $primaryColorDark;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: var(--drawer-view-bg);
  }
  
  &::-webkit-scrollbar {
    width: 10px;
    background-color:  $primaryColorDark;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $primaryColorDark;
  }

  .drawer {
    display: flex;
    flex-direction: column;

    &__button {
      text-decoration: none;
      display: flex;
      padding: 0 24px;
      align-items: center;
      font-size: 15px;
      width: 100%;
      color: var(--drawer-txt-color);
      line-height: 40px;
      fill: var(--drawer-txt-color);

      &--active, &:hover {
        background: var(--drawer-hover-bg);
      }

      svg {
        width: 24px;
        height: 24px;
        margin-right: 24px;
      }
    }
  }
}