$primaryColor: #030303;
$secondaryColor: #fff;
$bgColor: #F9F9F9;
$accentColor: #065FD4;

$primaryColorDark: #fff;
$secondaryColorDark: #000;
$bgColorDark: #181818;


// Drawer Color Scheme
$drawerViewBg: #fff;
$drawerHoverBg: #E5E5E5;
$drawerTxtColor: #0E0E0E;

// Drawer Color Scheme Dark Mode
$drawerViewBgDark: #212121;
$drawerHoverBgDark: #383838;
$drawerTxtColorDark: $primaryColorDark;

//Nav Color Scheme
$navViewBg: #fff;
$navViewIcon: #000;
$navPlaceholder: $primaryColor;

$navSearchBg: #fff;
$navSearchBorder: #ccc;
$navSearchButton: #F8F8F8;
$navSearchVoice: #F9F9F9;

// Nav Color Scheme Dark Mode
$navViewBgDark: #202020;
$navViewIconDark: #fff;
$navPlaceholderDark: #4C4C4C;

$navSearchBorderDark: #303030;
$navSearchBgDark: #121212;
$navSearchButtonDark: #313131;
$navSearchVoiceDark: #181818;

// Chip Color Scheme
$chipViewBg: #fff;
$chipViewBorder: #E5E5E5;

$chipBg: #F2F2F2;
$chipBorder: #D9D9D9;

$chipActiveBg: #030303;
$chipActiveBorder: #030303;

$chipHoverBg: #E5E5E5;
$chipHoverBorder: #CECECE;

// Chip Color Scheme Dark Mode
$chipViewBgDark: #202020;
$chipViewBorderDark: #373737;

$chipBgDark: #373737;
$chipBorderDark: #4B4B4B;

$chipActiveBgDark: #fff;
$chipActiveBorderDark: #fff;

$chipHoverBgDark: #fff;
$chipHoverBorderDark: #fff;